@tailwind base;
@tailwind components;
@tailwind utilities;
/* Target the scrollbar track */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
  height: 12px; /* Height of the scrollbar (for horizontal scrollbars) */
}

/* Style the track */
::-webkit-scrollbar-track {
  background: #f0f0f0; /* Color of the track */
  border-radius: 10px; /* Round corners of the track */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Round corners of the scrollbar thumb */
  border: 2px solid #f0f0f0; /* Space between thumb and track */
}

/* Hover effect for the thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color on hover */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
